#wycieczka-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div  {
    margin: 2px 2px;
}

#wyci {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

button {
    max-height: 100px;
}