<div id="wyci">
    <!-- <div>
        <button routerLink="/new-trip" type="button">
            Add trip
        </button>
        <button routerLink="/cart" type="button">
            Koszyk
        </button>
    </div> -->
    <app-wycieczka  
        *ngFor="let wycieczka of ListaWycieczek" 
        [data]=wycieczka 
        (deleteWycieczkaEmmiter)="deleteWycieczka($event)"
        id="wycieczka-box" 
        [ngStyle]="{'border': getBorder(wycieczka)}" >
    </app-wycieczka>
    <br />
    <div id="reserved" [ngStyle]="{'background-color': getReservedColor()}">
        Reserved Seats: {{ getReservedSeats() }}
    </div>
</div>

