<div id="wyci">
    <h2>Our offer</h2>
    <app-wycieczka  
        *ngFor="let wycieczka of (listEmitter | async |
                            minPriceProduct: minPrice  |
                            maxPriceProduct: maxPrice  |
                            endDatePipe:endDate |
                            startDatePipe: startDate |
                            countryFilter: countries )"
        [data]=wycieczka 
        (deleteWycieczkaEmmiter)="deleteWycieczka($event)"
        id="wycieczka-box" 
        [ngStyle]="{'border': getBorder(wycieczka)}" >
    </app-wycieczka>
    <br />
</div>

