<div class="login-div">
  <div *ngIf="userEmitter | async; else showLogin">
    <h1>Hello {{ userEmitter | async }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
      
    <div class="flex-column">
        <p>Please login.</p>
        <div mat-dialog-content class="flex-column">
            <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="E-mail" [(ngModel)]='mail'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password." [(ngModel)]='password'>
            </mat-form-field>
        </div>
        <button (click)="login()">Login</button>
        <p>If you don't have account:</p>
        <button  [routerLink]="'/sign-up'">Create account</button>
    </div>
  </ng-template>
</div> 