ul {
    list-style-type: none;
    margin-top: 4px;
  }

button {
  max-height: 100px;
}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 30%; */
  /* border:1px red solid; */
  /* justify-content: center;
  align-content: center; */
  padding: 8px 8px;
  margin: 0 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}