wyci_body {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

div  {
    margin: 2px 2px;
}

reserved {
    justify-content: center;
}

