img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

div  {
    margin: 2px 2px;
}

column { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

wycieczka-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border:1px red solid; */
    justify-content: space-around;
    align-content: center;
}

